# DP Aggregate Seeded Synthesizer
DP Aggregate Seeded synthesizer is a differentially private synthesizer that relies on DP Marginals to build synthetic data. It will compute DP Marginals (called aggregates) for your dataset using an specified `reporting length`, and synthesize data based on the computed aggregated counts.

> The `reporting length` is the maximum combination length that aggregates are going to be computed for.

## 1. Overview

### 1.1. Aggregated data generation with DP
Let's consider the following input as example:

| A | B | C |
| -- | -- | -- |
| a1 | b1 | c1 |
| a1 | b2 | c1 |
| a2 |    | c2 |
| a2 | b2 | c1 |
| a1 | b2 |    |

The input data is assumed to be categorical and the domain will be inferred from the input dataset:

- `A` possible values are - `a1,a2`
- `B` possible values are - `b1,b2`
- `C` possible values are - `c1,c2`

For a `reporting length=2`, the aggregates in the dataset above could be:

- 1-counts
    - `A:a1`: 3 + NOISE
    - `A:a2`: 2 + NOISE
    - `B:b1`: 1 + NOISE
    - `B:b2`: 3 + NOISE
    - `C:c1`: 3 + NOISE
    - `C:c2`: 1 + NOISE

- 2-counts:
    - `A:a1;C:c1`: 2 + NOISE
    - `A:a2;B:b2`: 1 + NOISE
    - `B:b1;C:c1`: 1 + NOISE
    - `A:a1;B:b1`: 1 + NOISE
    - `A:a1;B:b2`: 2 + NOISE
    - `B:b2;C:c1`: 2 + NOISE
    - `A:a2;C:c2`: 1 + NOISE
    - `B:b2;C:c2`: 0 + NOISE

Also, some spurious combinations might be created and reported to ensure differentially private guarantees - notice that `B:b2;C:c2` does not exist in the sensitive dataset, but it has been _fabricated_ and added to the output.

Following the same lines, some attribute combinations might be suppressed - even though `A:a2;C:c1` exists in the sensitive dataset, it has not been reported as an aggregate.

### 1.2. Synthesis
Data will be then synthesized directly from the aggregates computed with differential privacy to produce synthetic data. Which will ensure the same DP guarantees to the synthetic data.

## 2. Imports and global config

In [22]:
import pandas as pd

from sdssynth import init_logger, set_number_of_threads
from sdssynth import Dataset
from sdssynth import DpAggregateSeededParametersBuilder, AccuracyMode, FabricationMode
from sdssynth import DpAggregatedSeededSynthesizer, Dataset

from utils import gen_dataset, ErrorReport

# The library allows the desired log level to be set if wanted
# ('off' || 'error' || 'warn' || 'info' || 'debug' || 'trace')
# init_logger('trace')

# some algorithms have parallel implementations, so the desired number of threads can be set
# (the default is one thread per CPU core)
# set_number_of_threads(2)

## 3. Generating an example data frame with random data

> `gen_dataset` is just an utility to generate some example data (the code for it is in [`utils.py`](./utils.py))

To exemplify the library, let's create an example data frame that will be used to later on.

In [23]:
number_of_records_to_generate = 6000

sensitive_df = gen_dataset(number_of_records_to_generate)

sensitive_df

     H1 H2  H3 H4 H5 H6 H7 H8 H9 H10
0     2  3   3  1  1  1  0  0  0   0
1        3   3  0  0  1  1  0  0   1
2        1   2  1  0  1  0  1  1   0
3            2  1  0  1  1  0  1   0
4     2      4  0  0  0  0  1  1   0
...  .. ..  .. .. .. .. .. .. ..  ..
5995     5      0  0  1  1  1  1   0
5996  1  5   6  0  1  0  1  0  1   0
5997     6   9  1  1  0  0  1  0   1
5998     5  10  1  1  1  0  0  1   0
5999     6   7  1  0  1  0  1  1   1

[6000 rows x 10 columns]

## 4. Creating the sensitive dataset

### 4.1. Creation from constructor

The library uses an internal representation of the data to optimize the execution time complexity.

To create a dataset you can directly call the construction if the data in the raw format:

In [24]:
sensitive_raw_data = [
    # headers
    ['A', 'B', 'C', 'D'],
    # records
    ['a1', 'b1', 'c1', '0'],
    ['a1', 'b1', 'c2', '0'],
    ['a2', '', 'c2', '1'],
]
sensitive_dataset = Dataset(sensitive_raw_data)

### 4.2. Negative value interpretation

The library distinguishes 'positive' attribute values that indicate the presence of specific sensitive data from 'negative' attribute values that indicate the absence of such data. By default, the integer zero (`0`) and the empty string (`""`) are not taken into account when creating and counting attribute combinations. Any columns where zero values are of interest (and thus sensitive) should be listed as `sensitive_zeros`, so they will be treated the same way as positive values.

> For more parameters see the library documentation.

In [25]:
sensitive_raw_data = [
    # headers
    ['A', 'B', 'C', 'D'],
    # records
    ['a1', 'b1', 'c1', '0'],
    ['a1', 'b1', 'c2', '0'],
    ['a2', '', 'c2', '1'],
]
sensitive_dataset = Dataset(sensitive_raw_data, sensitive_zeros=['D'])

### 4.3. Creating sensitive dataset from a pandas data frame
For convenience a method is provided to build a dataset from a pandas data frame:

In [26]:
sensitive_dataset = Dataset.from_data_frame(sensitive_df)

## 5. Generating the synthetic data

### 5.1. Defining synthesizer parameters

If you just want to create the synthesizer with default parameters:

In [27]:
synth = DpAggregatedSeededSynthesizer()
print (synth.parameters)

{
  "reporting_length": 3,
  "epsilon": 0.1,
  "delta": null,
  "percentile_percentage": 99,
  "percentile_epsilon_proportion": 0.01,
  "sigma_proportions": [
    1.0,
    0.5,
    0.3333333333333333
  ],
  "number_of_records_epsilon": 0.1,
  "threshold": {
    "type": "Adaptive",
    "valuesByLen": {
      "3": 1.0,
      "2": 1.0
    }
  },
  "empty_value": "",
  "use_synthetic_counts": false,
  "weight_selection_percentile": 95,
  "aggregate_counts_scale_factor": null
}

Although, this might not produce the optimized output for your dataset.

To tune the synthesizer parameters we provide a builder (`DpAggregateSeededParametersBuilder`), where only the desired parameters can be provided and to have its default value updated:

In [28]:
# this explicitly outlines the default parameters
synth = DpAggregateSeededParametersBuilder() \
        .reporting_length(3) \
        .epsilon(6.0) \
        .delta(1 / (2.0 * len(sensitive_df))) \
        .percentile_percentage(99) \
        .percentile_epsilon_proportion(0.01) \
        .accuracy_mode(AccuracyMode.prioritize_large_counts()) \
        .number_of_records_epsilon(0.1) \
        .fabrication_mode(FabricationMode.uncontrolled()) \
        .empty_value("") \
        .weight_selection_percentile(95) \
        .use_synthetic_counts(False) \
        .aggregate_counts_scale_factor(1.0) \
        .build()
print (synth)

{
  "reporting_length": 3,
  "epsilon": 6.0,
  "delta": 0.00008333333333333333,
  "percentile_percentage": 99,
  "percentile_epsilon_proportion": 0.01,
  "sigma_proportions": [
    1.0,
    0.5,
    0.3333333333333333
  ],
  "number_of_records_epsilon": 0.1,
  "threshold": {
    "type": "Adaptive",
    "valuesByLen": {
      "3": 1.0,
      "2": 1.0
    }
  },
  "empty_value": "",
  "use_synthetic_counts": false,
  "weight_selection_percentile": 95,
  "aggregate_counts_scale_factor": 1.0
}

To continue with this example, let's set the parameters we care about for now:

In [29]:
reporting_length = 4

builder = DpAggregateSeededParametersBuilder() \
    .reporting_length(reporting_length) \
    .epsilon(0.2) \
    .accuracy_mode(AccuracyMode.prioritize_large_counts()) \
    .fabrication_mode(FabricationMode.uncontrolled()) \
    .use_synthetic_counts(True)

synth = DpAggregatedSeededSynthesizer(builder.build())

### 5.2 Building the model and synthesizing data

In [30]:
synth.fit(sensitive_dataset)

# here if we do not specify the desired number of samples, the synthesizer will
# use all the available attributes based in the 1-counts to synthesize records
synthetic_raw_data = synth.sample(len(sensitive_df))
synthetic_dataset = Dataset(synthetic_raw_data)

# as an example, let's create a pandas data frame from the raw synthetic data
synthetic_df = Dataset.raw_data_to_data_frame(synthetic_raw_data)
synthetic_df

     H1 H2 H3 H4 H5 H6 H7 H8 H9 H10
0     1        1  1  1  1  1  1   1
1     1        1  1  1  1  1  1   1
2     1        1  1  1  1  1  1   1
3     1        1  1  1  1  1  1   1
4     1        1  1  1  1  1  1   1
...  .. .. .. .. .. .. .. .. ..  ..
5995  2     8  1
5996  2     8  1
5997  2     8  1
5998  2     8  1
5999  2  3  1

[6000 rows x 10 columns]

## 6. Generating/exporting aggregated data

In [31]:
# generate sensitive aggregates
sensitive_aggregates = sensitive_dataset.get_aggregates(reporting_length, ';')

# export the differentially private aggregates (internal to the synthesizer)
dp_aggregates = synth.get_dp_aggregates(';')

# generate aggregates from the synthetic data
synthetic_aggregates = synthetic_dataset.get_aggregates(reporting_length, ';')

# let's take a look at the DP aggregates
dp_aggregates

{'H1:1;H3:3;H6:1;H8:1': 35,
 'H2:5;H3:9;H6:1;H8:1': 2,
 'H1:1;H3:7;H6:1': 168,
 'H2:6;H3:9;H8:1': 56,
 'H1:1;H2:1;H3:1;H4:1': 3,
 'H10:1;H3:6;H8:1': 161,
 'H1:2;H2:5;H4:1': 187,
 'H10:1;H2:1;H3:3;H4:1': 26,
 'H10:1;H3:5;H4:1;H6:1': 76,
 'H2:3;H3:8;H4:1;H7:1': 12,
 'H1:2;H2:6;H3:7;H4:1': 1,
 'H10:1;H1:2;H5:1;H6:1': 258,
 'H10:1;H3:7;H5:1': 138,
 'H2:4;H3:10;H4:1;H9:1': 35,
 'H1:2;H2:2;H3:5;H9:1': 120,
 'H2:2;H3:10;H4:1': 24,
 'H2:2;H3:2;H5:1;H8:1': 8,
 'H3:10;H4:1;H6:1;H7:1': 25,
 'H1:1;H2:2;H7:1;H8:1': 1,
 'H10:1;H1:1;H6:1;H8:1': 251,
 'H1:1;H3:8;H4:1': 30,
 'H1:1;H7:1;H8:1': 593,
 'H1:2;H2:4;H3:5': 24,
 'H1:2;H5:1;H6:1;H9:1': 309,
 'H2:2;H3:10;H4:1;H5:1': 5,
 'H10:1;H2:6;H3:8;H8:1': 38,
 'H1:2;H2:4;H3:9;H7:1': 5,
 'H2:3;H4:1;H6:1;H8:1': 41,
 'H3:6;H4:1;H9:1': 138,
 'H1:1;H2:6;H3:8;H7:1': 30,
 'H10:1;H3:6;H4:1;H9:1': 29,
 'H2:3;H3:2;H4:1;H9:1': 51,
 'H3:7;H6:1;H7:1;H8:1': 89,
 'H1:1;H2:4;H3:1;H5:1': 12,
 'H3:7;H5:1;H8:1': 122,
 'H10:1;H1:1;H2:2;H8:1': 69,
 'H3:10;H4:1;H5:1': 165,
 'H1:2;H2:5;H4:1;H8:1': 69,
 'H6:1': 3019,
 'H2:1;H3:2;H7:1': 141,
 'H10:1;H1:1;H4:1;H5:1': 284,
 'H1:2;H3:1;H8:1': 116,
 'H10:1;H3:2;H5:1;H8:1': 115,
 'H10:1;H2:2;H4:1;H7:1': 171,
 'H1:1;H7:1': 958,
 'H1:1;H2:6;H7:1;H9:1': 50,
 'H2:6;H3:9;H6:1;H8:1': 56,
 'H1:1;H3:5;H4:1;H5:1': 125,
 'H3:9;H9:1': 198,
 'H1:1;H4:1;H5:1;H9:1': 135,
 'H1:2;H2:2;H3:7': 25,
 'H10:1;H2:6;H7:1;H8:1': 39,
 'H1:2;H3:9;H7:1': 95,
 'H3:6;H4:1;H7:1': 170,
 'H2:1;H8:1;H9:1': 143,
 'H1:1;H3:10;H6:1;H7:1': 25,
 'H1:1;H2:5;H6:1': 113,
 'H10:1;H2:4;H7:1': 190,
 'H2:2;H5:1;H8:1': 112,
 'H1:1;H2:4;H3:10': 124,
 'H3:3;H8:1;H9:1': 150,
 'H10:1;H3:4;H6:1;H9:1': 18,
 'H3:7;H5:1;H6:1;H9:1': 47,
 'H2:6;H7:1;H8:1;H9:1': 91,
 'H10:1;H2:4;H5:1;H7:1': 96,
 'H1:1;H3:2;H8:1': 70,
 'H10:1;H2:6;H3:8': 146,
 'H1:1;H2:4;H8:1;H9:1': 47,
 'H10:1;H1:2;H2:5;H3:9': 38,
 'H3:7;H8:1': 313,
 'H10:1;H1:2;H2:2;H9:1': 150,
 'H1:2;H3:4': 231,
 'H10:1;H1:1;H6:1': 550,
 'H10:1;H3:1;H5:1;H6:1': 32,
 'H1:1;H2:5;H5:1;H6:1': 29,
 'H10:1;H1:2;H3:7;H5:1': 88,
 'H10:1;H3:5;H4:1;H5:1': 107,
 'H1:1;H2:6;H3:9;H7:1': 12,
 'H1:2;H2:2;H3:2;H8:1': 1,
 'H10:1;H1:2': 1095,
 'H2:6;H3:7;H6:1;H9:1': 49,
 'H2:5;H3:8;H5:1': 142,
 'H2:4;H6:1;H9:1': 170,
 'H2:6;H7:1;H9:1': 266,
 'H3:5;H4:1;H5:1;H7:1': 128,
 'H10:1;H3:2;H9:1': 156,
 'H2:4;H4:1;H5:1': 219,
 'H5:1;H7:1': 1464,
 'H10:1;H2:2;H3:4;H5:1': 4,
 'H1:2;H2:2;H3:2': 3,
 'H10:1;H3:1;H5:1;H8:1': 48,
 'H10:1;H2:4;H3:10;H9:1': 49,
 'H10:1;H1:2;H3:4;H7:1': 53,
 'H2:6;H4:1;H6:1;H9:1': 118,
 'H2:6;H3:7;H4:1;H9:1': 12,
 'H2:6;H5:1;H9:1': 209,
 'H2:3;H3:5': 151,
 'H2:1;H5:1;H9:1': 262,
 'H2:3;H3:2;H4:1': 103,
 'H2:1;H8:1': 374,
 'H3:6;H6:1;H7:1;H8:1': 34,
 'H1:2;H2:2;H5:1': 137,
 'H3:8;H7:1': 236,
 'H10:1;H3:10': 174,
 'H3:5;H4:1;H5:1;H9:1': 73,
 'H2:1;H4:1;H8:1;H9:1': 98,
 'H2:6;H3:9': 127,
 'H3:1;H7:1': 129,
 'H3:2;H7:1;H8:1': 220,
 'H10:1;H2:1;H3:4;H9:1': 5,
 'H1:2;H3:10': 70,
 'H1:2;H2:3;H5:1;H6:1': 6,
 'H10:1;H3:3;H5:1;H9:1': 92,
 'H2:6;H3:8;H6:1;H8:1': 18,
 'H10:1;H2:3;H3:3;H9:1': 13,
 'H1:2;H3:2;H7:1': 99,
 'H10:1;H2:3': 280,
 'H1:2;H3:6;H4:1;H5:1': 54,
 'H2:6;H3:1;H6:1;H7:1': 10,
 'H1:1;H4:1;H5:1;H8:1': 199,
 'H10:1;H4:1;H8:1;H9:1': 338,
 'H1:1;H2:4;H6:1;H9:1': 105,
 'H10:1;H5:1;H6:1;H9:1': 348,
 'H10:1;H1:2;H2:5;H8:1': 43,
 'H10:1;H3:6;H4:1': 181,
 'H2:6;H5:1;H6:1;H9:1': 182,
 'H2:1;H3:1;H6:1;H7:1': 29,
 'H10:1;H5:1;H7:1;H9:1': 426,
 'H1:1;H2:5;H3:5': 6,
 'H1:2;H3:5;H8:1': 149,
 'H1:1;H2:4;H3:7': 51,
 'H1:2;H2:6;H3:1': 28,
 'H3:2;H5:1': 180,
 'H10:1;H3:8;H4:1': 122,
 'H1:1;H2:5;H4:1;H7:1': 53,
 'H2:2;H6:1': 406,
 'H10:1;H1:2;H3:3;H8:1': 8,
 'H2:5;H8:1;H9:1': 243,
 'H1:2;H5:1': 940,
 'H1:1;H2:3;H4:1': 122,
 'H10:1;H1:1;H3:3;H4:1': 20,
 'H3:8;H5:1;H7:1': 174,
 'H1:2;H2:4;H4:1;H9:1': 14,
 'H10:1;H1:2;H5:1;H8:1': 215,
 'H1:1;H3:2;H4:1': 153,
 'H5:1;H7:1;H8:1': 625,
 'H6:1;H8:1;H9:1': 754,
 'H10:1;H1:1;H4:1;H9:1': 369,
 'H10:1;H2:1;H3:1;H9:1': 53,
 'H10:1;H1:1;H2:2;H4:1': 32,
 'H1:1;H5:1;H9:1': 491,
 'H1:1;H2:5;H3:8': 30,
 'H2:3;H3:5;H4:1;H7:1': 66,
 'H10:1;H2:1;H6:1;H8:1': 79,
 'H4:1;H5:1;H7:1;H8:1': 306,
 'H2:4;H3:2;H4:1': 42,
 'H2:5;H5:1;H8:1': 212,
 'H1:1;H2:2;H9:1': 129,
 'H10:1;H2:3;H3:1;H8:1': 87,
 'H3:10;H5:1;H8:1': 122,
 'H2:6;H3:1;H5:1': 44,
 'H2:1;H3:10': 11,
 'H2:2;H3:3;H7:1;H8:1': 12,
 'H3:8;H4:1;H9:1': 160,
 'H10:1;H2:1;H5:1;H7:1': 93,
 'H1:1;H3:10': 178,
 'H2:5;H3:6;H6:1;H7:1': 18,
 'H3:9;H7:1': 322,
 'H10:1;H3:2;H5:1;H7:1': 24,
 'H2:4;H5:1;H7:1;H8:1': 127,
 'H1:1;H3:3;H7:1': 111,
 'H3:2;H4:1': 341,
 'H3:1;H7:1;H8:1;H9:1': 88,
 'H10:1;H1:1;H2:3;H7:1': 50,
 'H1:2;H2:6;H6:1;H8:1': 16,
 'H2:1;H7:1;H8:1;H9:1': 143,
 'H10:1': 2950,
 'H10:1;H3:10;H6:1;H9:1': 11,
 'H3:6;H8:1;H9:1': 169,
 'H2:6;H3:8;H5:1;H7:1': 69,
 'H1:2;H3:9': 170,
 'H2:6;H3:9;H5:1;H8:1': 56,
 'H3:8;H6:1;H9:1': 178,
 'H10:1;H2:2;H3:4;H9:1': 39,
 'H2:1;H4:1;H5:1;H8:1': 98,
 'H2:5;H3:8;H7:1;H8:1': 17,
 'H2:3;H4:1;H5:1;H6:1': 93,
 'H1:1;H2:1;H7:1;H8:1': 89,
 'H1:2;H2:1;H3:4;H9:1': 4,
 'H1:2;H4:1;H5:1;H6:1': 238,
 'H10:1;H3:9;H4:1;H9:1': 109,
 'H4:1;H5:1;H8:1;H9:1': 281,
 'H1:2;H3:4;H8:1': 92,
 'H10:1;H3:5;H6:1;H8:1': 40,
 'H10:1;H2:5;H4:1;H7:1': 53,
 'H10:1;H1:2;H3:4': 65,
 'H1:1;H3:8;H5:1;H9:1': 30,
 'H1:1;H3:3;H9:1': 7,
 'H5:1;H6:1': 1641,
 'H2:4;H4:1;H7:1;H8:1': 38,
 'H2:1;H3:10;H4:1': 11,
 'H3:10;H6:1;H7:1;H9:1': 25,
 'H10:1;H1:1;H2:3;H9:1': 178,
 'H1:1;H3:8;H4:1;H9:1': 30,
 'H1:1;H3:2;H4:1;H8:1': 38,
 'H10:1;H9:1': 1494,
 'H3:5;H6:1;H7:1;H9:1': 21,
 'H3:2;H4:1;H6:1': 158,
 'H1:2;H2:5;H7:1;H9:1': 45,
 'H1:1;H2:6;H3:8;H6:1': 22,
 'H3:9;H4:1;H7:1': 43,
 'H10:1;H3:7;H7:1;H8:1': 64,
 'H10:1;H2:4;H3:10;H4:1': 77,
 'H10:1;H3:9;H7:1;H9:1': 92,
 'H10:1;H3:9;H4:1': 109,
 'H1:2;H2:1;H9:1': 95,
 'H2:2;H6:1;H9:1': 196,
 'H1:2;H2:4;H3:5;H5:1': 3,
 'H2:2;H3:1;H8:1': 64,
 'H3:8;H4:1;H5:1;H9:1': 52,
 'H5:1;H8:1': 1599,
 'H2:5;H7:1;H8:1;H9:1': 12,
 'H4:1;H5:1;H8:1': 613,
 'H1:1;H3:3;H7:1;H8:1': 73,
 'H3:6;H7:1;H8:1': 166,
 'H4:1;H6:1': 1546,
 'H10:1;H1:2;H3:6;H8:1': 42,
 'H10:1;H2:1;H5:1;H6:1': 93,
 'H1:2;H3:5;H4:1': 67,
 'H10:1;H1:2;H3:3': 8,
 'H2:3;H3:8;H7:1': 12,
 'H3:4;H6:1': 147,
 'H2:6;H3:10;H4:1;H8:1': 31,
 'H10:1;H1:2;H5:1': 411,
 'H1:2;H2:1;H3:3': 83,
 'H10:1;H6:1;H8:1;H9:1': 436,
 'H10:1;H2:3;H3:2;H8:1': 59,
 'H1:2;H3:7;H7:1;H8:1': 15,
 'H1:2;H2:2;H5:1;H9:1': 112,
 'H2:5;H3:6;H6:1': 44,
 'H1:2;H2:3;H9:1': 84,
 'H2:3;H3:1;H6:1;H8:1': 5,
 'H2:2;H3:4;H6:1': 42,
 'H10:1;H1:2;H3:2;H5:1': 55,
 'H2:3;H4:1': 489,
 'H10:1;H1:2;H2:3;H5:1': 6,
 'H1:1;H3:3;H4:1;H6:1': 35,
 'H10:1;H3:3;H5:1;H6:1': 38,
 'H10:1;H3:6;H6:1;H8:1': 61,
 'H10:1;H2:5;H3:9;H4:1': 66,
 'H2:3;H3:8;H9:1': 23,
 'H3:6;H4:1;H5:1;H9:1': 82,
 'H10:1;H3:3;H8:1': 97,
 'H1:2;H2:2;H6:1;H9:1': 67,
 'H2:4': 754,
 'H3:9;H7:1;H8:1': 47,
 'H1:1;H2:6;H5:1;H7:1': 51,
 'H2:5;H3:7;H4:1;H6:1': 75,
 'H2:2;H5:1;H7:1;H8:1': 86,
 'H1:2;H3:7;H5:1;H6:1': 81,
 'H3:9;H6:1;H7:1': 195,
 'H10:1;H2:4;H3:6': 164,
 'H2:5;H3:10;H4:1': 43,
 'H1:2;H2:1;H3:4': 50,
 'H1:2;H2:1;H8:1': 156,
 'H1:2;H2:2;H4:1;H5:1': 15,
 'H3:8;H8:1;H9:1': 146,
 'H1:2;H2:3;H5:1;H7:1': 6,
 'H2:5;H3:9;H5:1;H8:1': 16,
 'H1:2;H4:1;H5:1;H8:1': 275,
 'H2:6;H3:8;H6:1;H9:1': 58,
 'H10:1;H3:6;H4:1;H8:1': 102,
 'H1:1;H2:6;H3:10;H9:1': 33,
 'H2:2;H3:5;H7:1;H8:1': 26,
 'H1:2;H2:4': 311,
 'H1:2;H2:4;H4:1;H6:1': 72,
 'H2:2;H3:1;H7:1;H8:1': 64,
 'H10:1;H2:6;H6:1;H9:1': 85,
 'H7:1': 3046,
 'H1:1;H2:2;H3:2': 8,
 'H2:5;H3:9;H4:1;H5:1': 33,
 'H10:1;H3:7;H6:1;H7:1': 79,
 'H2:1;H3:1;H5:1': 74,
 'H10:1;H3:10;H4:1;H9:1': 18,
 'H3:3;H7:1': 132,
 'H3:9;H4:1;H6:1;H7:1': 15,
 'H2:1;H3:5;H4:1;H8:1': 1,
 'H1:2;H2:5;H3:7;H9:1': 25,
 'H1:1;H2:6;H3:4': 78,
 'H10:1;H2:6;H4:1;H9:1': 97,
 'H10:1;H1:1;H4:1': 420,
 'H6:1;H8:1': 1519,
 'H1:1;H5:1': 980,
 'H1:1;H5:1;H8:1;H9:1': 255,
 'H1:2;H3:6;H5:1;H6:1': 54,
 'H1:1;H3:9;H4:1;H9:1': 36,
 'H1:2;H3:9;H5:1;H8:1': 81,
 'H2:2;H3:4;H5:1;H6:1': 35,
 'H10:1;H2:1;H3:10;H9:1': 11,
 'H10:1;H1:2;H3:10;H8:1': 35,
 'H3:2;H5:1;H6:1;H9:1': 33,
 'H1:1;H5:1;H6:1;H9:1': 247,
 'H5:1;H8:1;H9:1': 755,
 'H1:2;H3:9;H4:1;H7:1': 43,
 'H2:5;H6:1;H9:1': 120,
 'H3:2;H5:1;H8:1': 149,
 'H1:2;H3:4;H6:1;H8:1': 21,
 'H1:2;H2:3': 273,
 'H1:1;H2:1;H6:1;H8:1': 4,
 'H1:2;H4:1': 1181,
 'H1:1;H2:1;H3:4;H8:1': 15,
 'H10:1;H1:2;H2:3;H7:1': 17,
 'H3:4;H4:1': 290,
 'H10:1;H2:2;H6:1;H7:1': 56,
 'H2:2;H3:6': 65,
 'H10:1;H2:4;H3:9;H7:1': 5,
 'H2:5;H6:1;H7:1': 252,
 'H2:1;H3:4;H6:1;H8:1': 47,
 'H1:1;H7:1;H8:1;H9:1': 168,
 'H10:1;H2:1;H3:1': 105,
 'H1:2;H2:4;H3:5;H9:1': 1,
 'H3:10;H5:1': 284,
 'H2:2;H3:2;H4:1;H8:1': 8,
 'H10:1;H2:4;H4:1;H8:1': 55,
 'H1:2;H2:6;H3:6;H6:1': 54,
 'H10:1;H3:1;H6:1;H7:1': 32,
 'H2:1;H3:5;H4:1': 65,
 'H1:1;H2:5;H8:1;H9:1': 18,
 'H3:3;H4:1;H7:1;H9:1': 18,
 'H1:1;H3:7': 200,
 'H1:2;H2:6;H8:1': 16,
 'H1:2;H3:4;H4:1;H6:1': 21,
 'H1:1;H3:6;H5:1;H9:1': 46,
 'H3:10;H6:1;H9:1': 87,
 'H3:5;H4:1;H6:1': 158,
 'H1:2;H3:1;H6:1;H8:1': 48,
 'H2:4;H3:10;H6:1;H7:1': 21,
 'H1:1;H3:5;H6:1;H7:1': 29,
 'H10:1;H3:5;H9:1': 58,
 'H1:1;H3:8;H4:1;H6:1': 30,
 'H1:1;H3:10;H5:1': 151,
 'H3:8;H4:1;H8:1': 43,
 'H1:1;H2:4;H9:1': 128,
 'H2:4;H3:10;H7:1': 104,
 'H3:2;H5:1;H7:1;H8:1': 60,
 'H1:1;H2:4;H5:1;H9:1': 128,
 'H1:1;H3:2;H5:1;H6:1': 19,
 'H10:1;H2:1;H3:4': 93,
 'H3:4;H8:1;H9:1': 197,
 'H10:1;H1:2;H2:6;H5:1': 19,
 'H10:1;H3:5;H5:1;H6:1': 122,
 'H2:5;H3:8': 174,
 'H10:1;H2:6;H3:7': 12,
 'H10:1;H3:4;H5:1': 171,
 'H1:2;H3:7;H4:1;H6:1': 1,
 'H10:1;H3:8;H6:1': 178,
 'H1:1;H2:4;H7:1': 108,
 'H1:1;H3:7;H8:1': 200,
 'H1:2;H2:5;H3:9;H7:1': 38,
 'H10:1;H2:1;H3:5;H7:1': 8,
 'H2:5;H4:1;H6:1;H8:1': 69,
 'H1:1;H3:1;H8:1;H9:1': 19,
 'H10:1;H2:5;H3:9;H5:1': 33,
 'H2:3;H3:5;H4:1;H8:1': 3,
 'H4:1;H5:1;H6:1;H8:1': 338,
 'H10:1;H2:2;H3:7': 70,
 'H3:6;H4:1;H8:1;H9:1': 20,
 'H1:1;H2:1;H3:1': 105,
 'H1:1;H3:3;H4:1;H9:1': 7,
 'H10:1;H2:1;H5:1': 93,
 'H1:1;H2:1;H3:4;H5:1': 15,
 'H2:6;H3:9;H9:1': 64,
 'H10:1;H3:3;H5:1': 110,
 'H10:1;H2:3;H3:1': 87,
 'H1:2;H3:4;H8:1;H9:1': 60,
 'H3:4;H5:1;H9:1': 164,
 'H10:1;H1:2;H2:2;H8:1': 49,
 'H1:2;H2:6;H3:1;H7:1': 25,
 'H3:7;H9:1': 255,
 'H3:8;H4:1;H8:1;H9:1': 43,
 'H1:2;H2:6;H3:8;H7:1': 10,
 'H2:6;H3:8;H4:1;H8:1': 43,
 'H10:1;H2:6;H5:1': 221,
 'H10:1;H2:3;H6:1;H9:1': 67,
 'H10:1;H2:5;H3:10': 104,
 'H2:6;H3:7;H5:1;H6:1': 9,
 'H2:1;H5:1': 510,
 'H3:2;H6:1;H7:1': 153,
 'H2:6;H4:1;H6:1': 154,
 'H1:1;H2:6;H3:10;H8:1': 16,
 'H1:1;H2:4;H3:5': 24,
 'H1:2;H2:4;H3:7;H5:1': 16,
 'H3:7;H7:1;H9:1': 122,
 'H1:1;H9:1': 1070,
 'H10:1;H1:1;H8:1': 427,
 'H1:1;H2:6;H4:1;H6:1': 42,
 'H3:6;H5:1;H8:1;H9:1': 35,
 'H2:2;H3:2;H5:1;H6:1': 7,
 'H3:10;H5:1;H9:1': 109,
 'H1:1;H2:3;H3:3;H8:1': 53,
 'H4:1;H6:1;H8:1': 736,
 'H2:1;H7:1': 469,
 'H3:10;H4:1;H9:1': 165,
 'H2:4;H4:1;H6:1;H8:1': 138,
 'H1:2;H2:5;H6:1;H9:1': 32,
 'H1:1;H3:1;H4:1;H5:1': 3,
 'H10:1;H3:1;H7:1;H9:1': 49,
 'H10:1;H3:9': 224,
 'H3:5;H5:1;H7:1;H8:1': 139,
 'H1:1;H2:6;H3:9': 125,
 'H1:2;H2:1;H4:1;H8:1': 73,
 'H2:4;H3:9;H5:1;H6:1': 27,
 'H1:1;H3:7;H6:1;H7:1': 2,
 'H1:2;H2:1;H3:5;H4:1': 11,
 'H2:6;H3:10;H4:1': 90,
 'H1:2;H2:5;H3:7;H4:1': 1,
 'H3:7;H4:1;H9:1': 116,
 'H10:1;H3:1;H4:1;H9:1': 82,
 'H3:4;H4:1;H5:1;H9:1': 43,
 'H1:2;H3:6;H8:1': 54,
 'H3:5;H9:1': 319,
 'H10:1;H2:6;H8:1': 288,
 'H3:6;H5:1;H6:1;H7:1': 75,
 'H2:4;H4:1;H8:1': 242,
 'H3:2;H6:1': 200,
 'H2:4;H8:1': 302,
 'H1:1;H4:1;H8:1;H9:1': 236,
 'H2:1;H3:3;H7:1;H9:1': 7,
 'H1:1;H2:5;H4:1': 172,
 'H1:2;H2:1;H5:1;H7:1': 48,
 'H1:1;H2:1;H4:1;H5:1': 22,
 'H10:1;H4:1;H5:1;H6:1': 328,
 'H3:4;H5:1;H6:1;H8:1': 35,
 'H3:9;H5:1;H6:1;H9:1': 92,
 'H10:1;H3:2;H7:1': 79,
 'H10:1;H5:1;H9:1': 627,
 'H1:2;H3:9;H6:1;H8:1': 55,
 'H2:3;H3:3;H8:1': 126,
 'H3:4;H4:1;H6:1': 147,
 'H10:1;H2:1;H3:5;H9:1': 8,
 'H2:4;H3:6;H6:1;H7:1': 28,
 'H1:1;H2:2;H3:4': 79,
 'H1:1;H3:9;H6:1': 154,
 'H1:2;H6:1;H7:1;H8:1': 190,
 'H3:3;H5:1;H6:1;H8:1': 70,
 'H1:2;H2:4;H6:1;H7:1': 98,
 'H10:1;H3:4;H5:1;H6:1': 35,
 'H10:1;H3:7;H4:1;H9:1': 11,
 'H10:1;H3:6;H9:1': 99,
 'H3:2;H4:1;H7:1': 207,
 'H2:3;H3:5;H5:1;H6:1': 8,
 'H2:5;H3:10;H6:1;H7:1': 25,
 'H2:1;H3:5;H4:1;H5:1': 56,
 'H10:1;H3:5;H5:1': 146,
 'H2:3;H3:2;H8:1': 220,
 'H10:1;H2:5;H5:1;H8:1': 69,
 'H1:1;H3:1;H9:1': 19,
 'H1:2;H2:6;H5:1;H8:1': 16,
 'H2:1;H4:1;H6:1;H8:1': 98,
 'H10:1;H1:1;H2:1;H9:1': 43,
 'H10:1;H2:2;H5:1;H8:1': 112,
 'H10:1;H1:2;H2:5': 112,
 'H3:9;H4:1;H5:1': 140,
 'H3:1;H5:1;H6:1;H8:1': 51,
 'H3:2;H6:1;H7:1;H9:1': 33,
 'H3:5;H4:1;H5:1': 128,
 'H2:6;H4:1;H7:1;H8:1': 90,
 'H1:1;H3:10;H7:1;H9:1': 100,
 'H2:1;H4:1;H8:1': 98,
 'H1:2;H3:5;H6:1': 49,
 'H1:1;H2:2;H6:1': 181,
 'H1:1;H2:2;H8:1;H9:1': 69,
 'H10:1;H1:2;H2:5;H3:6': 54,
 'H10:1;H2:4;H4:1;H7:1': 157,
 'H1:2;H2:5;H3:6': 54,
 'H1:1;H2:3;H4:1;H7:1': 97,
 'H2:1;H5:1;H7:1': 224,
 'H10:1;H2:1;H7:1;H8:1': 72,
 'H10:1;H2:1;H4:1;H9:1': 52,
 'H2:3;H5:1;H7:1;H9:1': 36,
 'H10:1;H3:1;H4:1': 155,
 'H2:6;H4:1;H6:1;H7:1': 103,
 'H1:1;H4:1;H7:1;H9:1': 159,
 'H2:5;H4:1;H7:1;H8:1': 50,
 'H3:2;H7:1;H8:1;H9:1': 20,
 'H2:2;H3:1;H5:1;H8:1': 64,
 'H3:1;H4:1;H9:1': 117,
 'H10:1;H3:10;H9:1': 149,
 'H1:2;H2:6;H4:1;H6:1': 21,
 'H2:4;H3:9;H6:1;H8:1': 64,
 'H3:6': 537,
 'H1:1;H4:1;H6:1;H8:1': 263,
 'H2:4;H3:7': 51,
 'H2:5;H4:1;H6:1;H7:1': 53,
 'H3:3;H6:1;H9:1': 144,
 'H10:1;H3:8;H4:1;H9:1': 93,
 'H10:1;H4:1;H5:1': 871,
 'H2:3;H3:3;H5:1': 101,
 'H3:10;H6:1;H8:1;H9:1': 63,
 'H1:1;H3:7;H8:1;H9:1': 67,
 'H10:1;H2:5;H7:1': 140,
 'H3:3;H5:1;H9:1': 150,
 'H3:8;H7:1;H9:1': 94,
 'H3:4;H5:1;H7:1': 128,
 'H2:3;H3:2;H4:1;H8:1': 67,
 'H3:3;H4:1;H7:1;H8:1': 18,
 'H10:1;H2:5;H7:1;H8:1': 100,
 'H1:2;H2:4;H3:7;H9:1': 16,
 'H2:4;H5:1;H6:1;H7:1': 133,
 'H10:1;H2:2;H5:1;H9:1': 67,
 'H2:3;H6:1;H7:1;H8:1': 124,
 'H2:6;H6:1;H9:1': 281,
 'H2:6;H3:7;H7:1;H9:1': 37,
 'H3:2;H6:1;H8:1;H9:1': 33,
 'H2:1;H3:5;H8:1': 30,
 'H2:1;H3:3;H4:1;H9:1': 38,
 'H1:2;H2:6;H3:10': 70,
 'H2:2;H4:1;H5:1;H9:1': 83,
 'H1:1;H2:3;H5:1;H9:1': 95,
 'H5:1': 3016,
 'H1:2;H3:3;H4:1;H6:1': 12,
 'H1:1;H3:1;H4:1;H9:1': 3,
 'H3:4;H6:1;H7:1': 49,
 'H1:2;H4:1;H8:1': 443,
 'H1:2;H4:1;H6:1;H7:1': 135,
 'H3:9;H4:1;H7:1;H8:1': 43,
 'H2:3;H3:1': 264,
 'H1:1;H2:4;H4:1;H6:1': 20,
 'H1:1;H2:2;H6:1;H9:1': 49,
 'H10:1;H1:2;H3:9;H6:1': 4,
 'H2:2;H3:3;H9:1': 21,
 'H10:1;H2:3;H8:1': 280,
 'H10:1;H1:2;H6:1': 369,
 'H2:4;H5:1;H6:1;H9:1': 89,
 'H2:6;H3:9;H5:1;H6:1': 70,
 'H3:8;H6:1': 178,
 'H10:1;H2:6;H3:9;H6:1': 42,
 'H1:2;H2:5;H4:1;H5:1': 56,
 'H2:2': 732,
 'H3:10;H4:1;H8:1': 79,
 'H10:1;H7:1;H9:1': 784,
 'H1:1;H2:6;H4:1': 108,
 'H10:1;H3:4': 261,
 'H1:2;H2:4;H3:6;H7:1': 25,
 'H10:1;H1:1;H3:6;H4:1': 25,
 'H10:1;H1:1': 981,
 'H2:3;H3:5;H4:1;H9:1': 90,
 'H2:5;H3:8;H4:1': 9,
 'H2:6;H7:1;H8:1': 315,
 'H4:1;H5:1;H6:1;H9:1': 320,
 'H2:6;H3:7;H6:1;H8:1': 49,
 'H2:5;H4:1;H7:1': 53,
 'H7:1;H9:1': 1443,
 'H3:9;H7:1;H8:1;H9:1': 42,
 'H10:1;H2:6;H3:9;H8:1': 56,
 'H3:10;H4:1;H6:1': 54,
 'H2:2;H3:4;H7:1;H9:1': 59,
 'H3:8;H4:1;H6:1;H9:1': 122,
 'H2:3;H7:1': 327,
 'H2:3;H3:4;H9:1': 32,
 'H10:1;H1:2;H3:5;H9:1': 57,
 'H6:1;H7:1;H8:1': 720,
 'H10:1;H1:1;H2:1;H5:1': 14,
 'H1:2;H3:7;H6:1;H8:1': 15,
 'H3:4;H4:1;H6:1;H7:1': 12,
 'H2:1;H3:5;H4:1;H9:1': 46,
 'H10:1;H1:2;H3:2;H6:1': 28,
 'H1:1;H3:1;H5:1': 66,
 'H3:10;H4:1': 220,
 'H3:5;H5:1;H6:1;H8:1': 136,
 'H3:1;H4:1;H5:1;H8:1': 93,
 'H1:2;H3:4;H4:1': 162,
 'H10:1;H3:7;H5:1;H9:1': 47,
 'H10:1;H3:10;H4:1;H8:1': 58,
 'H3:9;H4:1;H9:1': 177,
 'H10:1;H3:3': 184,
 'H1:1;H3:5;H5:1;H6:1': 107,
 'H2:1;H3:1;H6:1': 105,
 'H3:10;H5:1;H8:1;H9:1': 30,
 'H3:9;H5:1;H6:1': 167,
 'H10:1;H2:4': 444,
 'H3:2;H4:1;H5:1;H7:1': 62,
 'H10:1;H1:2;H3:1;H8:1': 68,
 'H10:1;H5:1': 1485,
 'H10:1;H2:4;H3:9': 16,
 'H2:4;H3:6;H6:1;H8:1': 28,
 'H10:1;H4:1;H7:1': 811,
 'H10:1;H1:1;H3:4': 10,
 'H6:1;H7:1;H8:1;H9:1': 385,
 'H2:3;H3:1;H8:1;H9:1': 6,
 'H1:1;H2:4': 128,
 'H1:2;H2:2;H7:1': 144,
 'H10:1;H1:1;H3:3;H8:1': 20,
 'H1:1;H2:3;H8:1': 183,
 'H1:2;H3:1;H4:1;H9:1': 93,
 'H2:2;H4:1;H8:1': 191,
 'H10:1;H3:5;H4:1;H9:1': 58,
 'H2:2;H6:1;H7:1;H8:1': 100,
 'H10:1;H1:2;H6:1;H9:1': 179,
 'H1:1;H3:4;H5:1;H7:1': 72,
 'H2:5;H8:1': 480,
 'H1:2;H3:8;H7:1': 91,
 'H10:1;H1:1;H2:6;H3:4': 10,
 'H1:2;H3:7;H7:1': 146,
 'H1:1;H2:6;H6:1;H8:1': 58,
 'H1:1;H3:5;H4:1;H6:1': 87,
 'H10:1;H1:2;H2:1;H4:1': 73,
 'H10:1;H2:4;H8:1;H9:1': 98,
 'H10:1;H2:5;H6:1;H7:1': 93,
 'H1:1;H2:1;H3:10;H4:1': 1,
 'H1:1;H2:5;H5:1': 173,
 'H2:1;H7:1;H8:1': 183,
 'H2:6;H5:1;H8:1;H9:1': 57,
 'H3:10;H4:1;H6:1;H8:1': 54,
 'H2:4;H3:7;H4:1;H9:1': 17,
 'H1:2;H5:1;H9:1': 570,
 'H2:3;H3:3;H9:1': 97,
 'H1:1;H3:9': 232,
 'H10:1;H1:1;H3:1': 77,
 'H1:2;H3:7;H6:1;H9:1': 45,
 'H1:1;H2:6;H4:1;H9:1': 108,
 'H3:7;H5:1;H7:1;H8:1': 8,
 'H1:2;H3:9;H5:1;H7:1': 42,
 'H10:1;H1:1;H2:1;H4:1': 43,
 'H1:1;H3:1;H4:1': 3,
 'H2:5;H7:1;H9:1': 77,
 'H1:1;H2:1': 258,
 'H1:2;H2:4;H9:1': 195,
 'H8:1;H9:1': 1531,
 'H3:5;H4:1;H8:1;H9:1': 3,
 'H10:1;H1:1;H2:6;H6:1': 58,
 'H1:1;H3:6;H6:1': 98,
 'H2:1;H4:1;H5:1;H9:1': 5,
 'H2:6;H3:4;H4:1;H9:1': 52,
 'H10:1;H2:3;H3:3;H5:1': 69,
 'H10:1;H2:3;H5:1;H9:1': 150,
 'H2:6;H3:2;H6:1': 62,
 'H2:4;H6:1;H8:1': 167,
 'H10:1;H3:7;H6:1;H9:1': 21,
 'H1:2;H3:2;H7:1;H8:1': 61,
 'H1:2;H5:1;H6:1;H7:1': 176,
 'H10:1;H2:6;H3:8;H6:1': 85,
 'H10:1;H1:2;H4:1;H5:1': 271,
 'H2:3;H7:1;H8:1': 152,
 'H2:4;H3:6;H7:1': 184,
 'H2:1;H5:1;H6:1;H8:1': 92,
 'H1:2;H2:1;H5:1;H8:1': 91,
 'H3:6;H5:1;H6:1;H8:1': 35,
 'H10:1;H2:4;H7:1;H8:1': 190,
 'H1:2;H3:6;H5:1;H8:1': 35,
 'H2:2;H3:4;H8:1;H9:1': 37,
 'H1:1;H2:3;H9:1': 246,
 'H2:2;H4:1;H9:1': 85,
 'H3:9;H4:1;H5:1;H9:1': 124,
 'H1:2;H3:8;H4:1;H7:1': 9,
 'H2:6;H3:7;H4:1;H6:1': 12,
 'H10:1;H2:4;H3:1;H6:1': 17,
 'H1:2;H2:4;H6:1;H9:1': 54,
 'H1:1;H2:1;H3:5;H5:1': 13,
 'H10:1;H3:4;H5:1;H8:1': 80,
 'H4:1;H6:1;H9:1': 764,
 'H2:6;H5:1;H6:1': 182,
 'H1:1;H2:1;H3:3': 115,
 'H1:1;H2:6;H3:6;H6:1': 58,
 'H2:5;H3:9;H7:1': 38,
 'H1:1;H2:1;H5:1': 22,
 'H10:1;H1:1;H3:1;H5:1': 66,
 'H2:2;H3:4;H5:1;H8:1': 40,
 'H2:4;H4:1;H5:1;H9:1': 155,
 'H2:1;H3:4;H5:1;H9:1': 24,
 'H2:3;H3:5;H7:1': 122,
 'H2:2;H3:5;H4:1;H7:1': 26,
 'H2:1;H3:5': 121,
 'H3:4;H9:1': 265,
 'H2:6;H3:10;H4:1;H7:1': 17,
 'H10:1;H1:2;H3:7': 96,
 'H2:3;H3:5;H7:1;H8:1': 7,
 'H10:1;H1:2;H2:4;H5:1': 26,
 'H1:1;H2:5;H5:1;H8:1': 6,
 'H2:5;H3:5;H7:1': 35,
 'H3:10;H8:1': 238,
 'H10:1;H2:3;H5:1;H8:1': 187,
 'H1:1;H2:3;H4:1;H8:1': 110,
 'H10:1;H2:3;H3:3;H4:1': 57,
 'H3:6;H6:1;H9:1': 78,
 'H3:2;H4:1;H5:1': 120,
 'H10:1;H3:6;H7:1;H9:1': 16,
 'H10:1;H2:5;H3:10;H5:1': 52,
 'H1:1;H3:9;H5:1;H7:1': 26,
 'H3:5;H4:1;H6:1;H8:1': 3,
 'H2:4;H3:1;H5:1;H7:1': 19,
 'H1:1;H3:4;H5:1': 100,
 'H10:1;H1:1;H2:4;H5:1': 34,
 'H1:1;H4:1;H7:1': 407,
 'H10:1;H1:1;H5:1;H7:1': 287,
 'H10:1;H2:3;H4:1;H7:1': 126,
 'H2:5;H3:7;H4:1;H7:1': 53,
 'H10:1;H1:1;H2:2;H7:1': 1,
 'H1:1;H3:2;H7:1': 159,
 'H3:4;H5:1;H8:1;H9:1': 38,
 'H2:4;H3:9;H6:1;H7:1': 5,
 'H3:2;H4:1;H5:1;H6:1': 78,
 'H2:1;H3:2': 141,
 'H10:1;H2:4;H3:2': 33,
 'H2:1;H3:2;H8:1': 87,
 'H1:1;H3:2;H7:1;H8:1': 70,
 'H2:2;H3:4;H7:1': 79,
 'H1:1;H3:10;H5:1;H8:1': 16,
 'H2:1;H4:1': 459,
 'H2:6;H4:1;H7:1': 193,
 'H2:4;H4:1;H6:1;H7:1': 166,
 'H3:2;H4:1;H5:1;H8:1': 44,
 'H10:1;H3:1;H6:1': 32,
 'H10:1;H2:3;H7:1;H9:1': 106,
 'H2:1;H3:3;H6:1': 53,
 'H3:5;H6:1;H7:1': 158,
 'H3:7;H4:1;H6:1;H7:1': 67,
 'H2:4;H3:9;H4:1;H6:1': 27,
 'H1:1;H3:9;H6:1;H9:1': 96,
 'H2:1;H3:2;H7:1;H8:1': 34,
 'H1:2;H3:6;H5:1': 54,
 'H1:1;H3:1;H8:1': 65,
 'H10:1;H1:1;H2:1;H8:1': 21,
 'H1:1;H2:6;H4:1;H5:1': 108,
 'H1:2;H2:5;H5:1;H8:1': 84,
 'H10:1;H2:3;H3:5;H6:1': 21,
 'H10:1;H3:4;H9:1': 121,
 'H4:1;H6:1;H7:1': 746,
 'H1:1;H2:2;H3:5;H5:1': 40,
 'H1:1;H2:6;H6:1;H7:1': 58,
 'H3:3;H6:1;H8:1': 125,
 'H10:1;H3:3;H4:1;H6:1': 57,
 'H1:1;H3:3;H5:1;H9:1': 7,
 'H10:1;H2:1;H9:1': 112,
 'H1:1;H6:1;H7:1;H9:1': 136,
 'H1:2;H3:6;H7:1': 54,
 'H3:8;H9:1': 194,
 'H2:5;H3:10': 104,
 'H1:2;H2:2;H4:1;H6:1': 38,
 'H2:6;H3:8;H6:1': 92,
 'H10:1;H1:1;H2:5;H9:1': 10,
 'H1:1;H3:5;H9:1': 125,
 'H2:4;H3:1;H4:1;H5:1': 3,
 'H1:2;H2:5;H9:1': 47,
 'H1:2;H2:4;H4:1': 172,
 'H10:1;H3:2;H8:1;H9:1': 80,
 'H1:1;H2:1;H4:1;H6:1': 102,
 'H3:10;H4:1;H7:1;H9:1': 14,
 'H3:5;H5:1;H8:1;H9:1': 46,
 'H1:1;H2:2;H3:3': 14,
 'H10:1;H2:1;H3:3;H6:1': 26,
 'H2:2;H3:10;H7:1': 24,
 'H2:2;H5:1;H8:1;H9:1': 28,
 'H1:2;H3:3;H8:1': 202,
 'H1:2;H3:4;H5:1;H9:1': 35,
 'H2:2;H3:3;H7:1': 33,
 'H1:2;H2:3;H3:4': 39,
 'H3:6;H5:1;H9:1': 145,
 'H1:2;H2:4;H4:1;H5:1': 131,
 'H1:1;H4:1;H6:1;H9:1': 218,
 'H10:1;H2:6;H3:6;H6:1': 84,
 'H1:2;H3:8;H6:1': 91,
 'H2:6;H5:1;H6:1;H7:1': 117,
 'H10:1;H3:4;H8:1;H9:1': 103,
 'H10:1;H2:6;H8:1;H9:1': 91,
 'H1:1;H3:3': 115,
 'H1:1;H2:6;H3:7;H8:1': 4,
 'H10:1;H1:1;H2:3': 183,
 'H10:1;H2:3;H3:1;H5:1': 16,
 'H2:1;H3:6;H8:1': 19,

## 7. Evaluate DP aggregates and Synthetic data

This section is an example evaluation of both the DP aggregates and the Synthetic data, as well as the influence of some synthesizer parameters in the DP aggregates and synthetic data.

### 7.1. Evaluating current results

> `ErrorReport` is just an example way to evaluate results (the code for it is [`utils.py`](./utils.py))

- **Count**: mean of the aggregate counts for the given length
- **Error**: mean of the `abs(sensitive_count - dp_aggregated_count)` or `abs(sensitive_count - synthetic_count)`
- **Suppressed %**: percentage of combinations present in the sensitive dataset, but not present in the aggregated/synthetic data
- **Fabricated %**: percentage of combinations that were reported in the aggregated/synthetic data, but do not exist in the sensitive dataset

In [32]:
sensitive_aggregates_parsed = {
    tuple(agg.split(';')): count for (agg, count) in sensitive_aggregates.items()
}
dp_aggregates_parsed = {
    tuple(agg.split(';')): count for (agg, count) in dp_aggregates.items()
}
synthetic_aggregates_parsed = {
    tuple(agg.split(';')): count for (agg, count) in synthetic_aggregates.items()
}

**Sensitive x DP Aggregates**

In [33]:
ErrorReport(sensitive_aggregates_parsed, dp_aggregates_parsed).gen()

  Length    Count +/- Error Suppressed % Fabricated %
0      1  1385.28 +/- 39.44       0.00 %       0.00 %
1      2   428.04 +/- 52.45       0.48 %       7.14 %
2      3   150.21 +/- 43.82       9.37 %       6.80 %
3      4    56.75 +/- 26.81      39.51 %       3.28 %
4    All   112.19 +/- 34.66      29.17 %       4.76 %

**Sensitive x Synthetic Data**

In [34]:
ErrorReport(sensitive_aggregates_parsed, synthetic_aggregates_parsed).gen()

  Length     Count +/- Error Suppressed % Fabricated %
0      1  1385.28 +/- 181.92       0.00 %       0.00 %
1      2   428.04 +/- 127.62       0.48 %       7.14 %
2      3    150.21 +/- 71.85       9.37 %       6.59 %
3      4     56.75 +/- 37.41      40.47 %       2.94 %
4    All    112.19 +/- 57.88      29.82 %       4.51 %

### 7.2. Targeting less fabrication

Let's update the current synthesizer parameters to `minimize` fabrication:

In [35]:
synth = DpAggregatedSeededSynthesizer(
    builder \
        .fabrication_mode(FabricationMode.minimize()) \
        .build()
)

synth.fit(sensitive_dataset)

synthetic_raw_data = synth.sample(len(sensitive_df))
synthetic_dataset = Dataset(synthetic_raw_data)

synthetic_df = Dataset.raw_data_to_data_frame(synthetic_raw_data)
synthetic_df

     H1 H2 H3 H4 H5 H6 H7 H8 H9 H10
0     1        1  1  1  1  1  1   1
1     1        1  1  1  1  1  1   1
2     1        1  1  1  1  1  1   1
3     1        1  1  1  1  1  1   1
4     1        1  1  1  1  1  1   1
...  .. .. .. .. .. .. .. .. ..  ..
5995  2     7
5996  2     7
5997  2     7
5998  2     7
5999  2     7

[6000 rows x 10 columns]

Evaluating again:

In [36]:
sensitive_aggregates = sensitive_dataset.get_aggregates(reporting_length, ';')
dp_aggregates = synth.get_dp_aggregates(';')
synthetic_aggregates = synthetic_dataset.get_aggregates(reporting_length, ';')

sensitive_aggregates_parsed = {
    tuple(agg.split(';')): count for (agg, count) in sensitive_aggregates.items()
}
dp_aggregates_parsed = {
    tuple(agg.split(';')): count for (agg, count) in dp_aggregates.items()
}
synthetic_aggregates_parsed = {
    tuple(agg.split(';')): count for (agg, count) in synthetic_aggregates.items()
}

**Sensitive x DP Aggregates**

In [37]:
ErrorReport(sensitive_aggregates_parsed, dp_aggregates_parsed).gen()

  Length    Count +/- Error Suppressed % Fabricated %
0      1  1385.28 +/- 72.68       0.00 %       0.00 %
1      2   428.04 +/- 42.04      14.35 %       0.00 %
2      3   150.21 +/- 59.36      71.66 %       0.00 %
3      4    56.75 +/- 50.85      93.34 %       0.00 %
4    All   112.19 +/- 52.72      82.43 %       0.00 %

**Sensitive x Synthetic Data**

In [38]:
ErrorReport(sensitive_aggregates_parsed, synthetic_aggregates_parsed).gen()

  Length     Count +/- Error Suppressed % Fabricated %
0      1  1385.28 +/- 480.84       0.00 %       0.00 %
1      2   428.04 +/- 278.03      14.35 %       0.00 %
2      3   150.21 +/- 161.96      71.66 %       0.00 %
3      4     56.75 +/- 75.51      93.34 %       0.00 %
4    All   112.19 +/- 186.16      82.43 %       0.00 %

### 7.3. Prioritize small counts

Let's update the current synthesizer parameters to `prioritize_small_counts`:

In [39]:
synth = DpAggregatedSeededSynthesizer(
    builder \
        .fabrication_mode(FabricationMode.uncontrolled()) \
        .accuracy_mode(AccuracyMode.prioritize_small_counts()) \
        .build()
)

synth.fit(sensitive_dataset)

synthetic_raw_data = synth.sample(len(sensitive_df))
synthetic_dataset = Dataset(synthetic_raw_data)

synthetic_df = Dataset.raw_data_to_data_frame(synthetic_raw_data)
synthetic_df

     H1 H2 H3 H4 H5 H6 H7 H8 H9 H10
0     1        1  1     1  1  1   1
1     1        1  1     1  1  1   1
2     1        1  1     1  1  1   1
3     1        1  1     1  1  1   1
4     1        1  1     1  1  1   1
...  .. .. .. .. .. .. .. .. ..  ..
5995  2  3  9
5996  2  3  9
5997  2  6  3
5998  2  6  3
5999  2  6  3

[6000 rows x 10 columns]

Evaluating again:

In [40]:
sensitive_aggregates = sensitive_dataset.get_aggregates(reporting_length, ';')
dp_aggregates = synth.get_dp_aggregates(';')
synthetic_aggregates = synthetic_dataset.get_aggregates(reporting_length, ';')

sensitive_aggregates_parsed = {
    tuple(agg.split(';')): count for (agg, count) in sensitive_aggregates.items()
}
dp_aggregates_parsed = {
    tuple(agg.split(';')): count for (agg, count) in dp_aggregates.items()
}
synthetic_aggregates_parsed = {
    tuple(agg.split(';')): count for (agg, count) in synthetic_aggregates.items()
}

**Sensitive x DP Aggregates**

In [41]:
ErrorReport(sensitive_aggregates_parsed, dp_aggregates_parsed).gen()

  Length    Count +/- Error Suppressed % Fabricated %
0      1  1385.28 +/- 15.76       0.00 %       0.00 %
1      2   428.04 +/- 33.60       0.00 %       5.86 %
2      3   150.21 +/- 52.13      13.78 %       7.02 %
3      4    56.75 +/- 41.12      57.86 %       4.01 %
4    All   112.19 +/- 44.29      42.69 %       5.34 %

**Sensitive x Synthetic Data**

In [42]:
ErrorReport(sensitive_aggregates_parsed, synthetic_aggregates_parsed).gen()

  Length     Count +/- Error Suppressed % Fabricated %
0      1  1385.28 +/- 292.80       0.00 %       0.00 %
1      2   428.04 +/- 191.62       0.00 %       5.86 %
2      3   150.21 +/- 104.46      13.78 %       6.24 %
3      4     56.75 +/- 57.39      59.20 %       3.56 %
4    All    112.19 +/- 92.94      43.59 %       4.83 %